.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.log
*.lock
**/local.properties
**/Generated.xcconfig
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Flutter.xcframework
**/ServiceDefinitions.json
**/Podfile.lock
**/Pods/
**/Runner.xcworkspace/
**/xcuserdata/
**/*.iml
.idea/
.vscode/
.DS_Store
